/* GENERAL */
html
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body
{
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  position: relative;
}

img,video
{
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

audio {
  width: 100%;
  height: 300px;
  margin-bottom: 50px;
}

@media screen and (min-width: 320px)and (max-width: 500px) {
  audio {
    height: 200px;
  }
}

@media screen and (min-width: 501px)and (max-width: 650px) {
  audio {
    height: 250px;
  }
}

@media screen and (min-width: 651px) {
  audio {
    height: 300px;
  }
}

.audio {
  background-image: url(../img/son.png);
  background-position: top;
  background-size: 30% auto;
  background-repeat: no-repeat;
  position: relative;
}

.container
{
  margin: 0 auto;
  padding: 0 0.8rem;
  position: relative;
  max-width: 768px; /* test */
}

.margin-bottom
{
  margin-bottom: 5rem;
}
/* GENERAL / FIN */

/* HEADER */
header
{
  background-color: #BF0F3D;
}

#logo
{
  margin: 0;
  text-align: center;
}

#logo img
{
  width: 200px;
  height: auto;
  margin: 1.5rem;
}

#langues img, #langues li
{
  width: 2.4rem;
  height: 2.4rem;
}

#langues img:hover
{
  opacity: 0.5;
}

header ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  max-width: 576px; /* 1st breaking point */
}

header nav li
{
  padding: 1rem 0;
}

header hr
{
  border: none;
  border-top: 2px solid #FFC107;
}

header nav a
{
  color: #FFC107;
  text-decoration: none;
  font-weight: bold;
}

header nav a:hover
{
  text-decoration: underline;
}

.active
{
  font-weight: bold;
  color: #FFC107;
}

.disabled
{
  color: #CCC;
  cursor: not-allowed;
  opacity: 0.5;
  font-weight: bold;
}
/* HEADER FIN*/

/* PLAN INTERACTIF */
#map
{
  position: relative;
}

a.puce
{
  position: absolute;
  margin: auto;
  width: 6vmin;
  height: 6vmin;
}

#e1-01
{
  top: 0%;
  bottom: 10%;
  left: 50%;
  right: 0;
}

#e1-02
{
  top: 0;
  bottom: 10%;
  left: 0;
  right: 0;
}

#e1-03
{
  top: 0;
  bottom: 10%;
  left: 0;
  right: 50%;
}

#e1-04
{
  top: 0;
  bottom: 20%;
  left: 0;
  right: 50%;
}

#e1-05
{
  top: 0;
  bottom: 20%;
  left: 0;
  right: 0;
}

#e1-06
{
  top: 0;
  bottom: 20%;
  left: 50%;
  right: 0;
}

#e1-07
{
  top: 0;
  bottom: 30%;
  left: 50%;
  right: 0;
}

#e1-08
{
  top: 0;
  bottom: 30%;
  left: 0;
  right: 0;
}

#e1-09
{
  top: 0;
  bottom: 30%;
  left: 0;
  right: 50%;
}

#e1-10
{
  top: 0;
  bottom: 40%;
  left: 0;
  right: 0;
}

#e2-01
{
  top: 77%;
  bottom: 0;
  left: 60%;
  right: 0;
}

#e2-02
{
  top: 77%;
  bottom: 0;
  left: 30%;
  right: 0;
}

#e2-03
{
  top: 77%;
  bottom: 0;
  left: 0;
  right: 0;
}

#e2-04
{
  top: 77%;
  bottom: 0;
  left: 0;
  right: 30%;
}

#e2-05
{
  top: 77%;
  bottom: 0;
  left: 0;
  right: 60%;
}

#e2-06
{
  top: 65%;
  bottom: 0;
  left: 60%;
  right: 0;
}

#e2-07
{
  top: 65%;
  bottom: 0;
  left: 30%;
  right: 0;
}

#e2-08
{
  top: 65%;
  bottom: 0;
  left: 0;
  right: 0;
}

#e2-09
{
  top: 65%;
  bottom: 0;
  left: 0;
  right: 30%;
}

#e2-10
{
  top: 65%;
  bottom: 0;
  left: 0;
  right: 60%;
}

#e2-11
{
  top: 53%;
  bottom: 0;
  left: 60%;
  right: 0;
}

#e2-12
{
  top: 53%;
  bottom: 0;
  left: 30%;
  right: 0;
}

#e2-13
{
  top: 53%;
  bottom: 0;
  left: 0;
  right: 0;
}

#e2-14
{
  top: 53%;
  bottom: 0;
  left: 0;
  right: 30%;
}

#e2-15
{
  top: 53%;
  bottom: 0;
  left: 0;
  right: 60%;
}

#e2-16
{
  top: 41%;
  bottom: 0;
  left: 60%;
  right: 0;
}

#e2-17
{
  top: 41%;
  bottom: 0;
  left: 30%;
  right: 0;
}

#e2-18
{
  top: 41%;
  bottom: 0;
  left: 0;
  right: 0;
}

#e2-19
{
  top: 41%;
  bottom: 0;
  left: 0;
  right: 30%;
}

#e2-20
{
  top: 41%;
  bottom: 0;
  left: 0;
  right: 60%;
}

#e2-21
{
  top: 29%;
  bottom: 0;
  left: 60%;
  right: 0;
}

#e2-22
{
  top: 29%;
  bottom: 0;
  left: 30%;
  right: 0;
}

#e2-23
{
  top: 29%;
  bottom: 0;
  left: 0;
  right: 0;
}

#e2-24
{
  top: 29%;
  bottom: 0;
  left: 0;
  right: 30%;
}

#e2-25
{
  top: 29%;
  bottom: 0;
  left: 0;
  right: 60%;
}

#e2-26
{
  top: 19%;
  bottom: 0;
  left: 60%;
  right: 0;
}

#e2-27
{
  top: 19%;
  bottom: 0;
  left: 30%;
  right: 0;
}

#e2-28
{
  top: 19%;
  bottom: 0;
  left: 0;
  right: 0;
}

#e2-29
{
  top: 19%;
  bottom: 0;
  left: 0;
  right: 30%;
}

#e2-30
{
  top: 19%;
  bottom: 0;
  left: 0;
  right: 60%;
}
/* PLAN INTERACTIF / FIN */

/* MAIN */
main, footer
{
  text-align: center;
}

main hr
{
  border: none;
  border-bottom: 2px dashed #FFC107;
}

main h1, main h2
{
  font-size: 1.5rem;
  color: #BF0F3D;
}

main h3
{
  font-size: 1.2rem;
  color: #FFC107;
}

main button
{
  background-color: #ED134D;
  color: #FFC107;
  font-size: 1.2rem;
  padding: 0.5rem;
  border: 2px solid #FFC107;
  border-radius: 10px;
}

main button:hover
{
  background-color: #FFC107;
  color: #BF0F3D;
  border-color: #BF0F3D;
}

main ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

main li
{
  padding-top: 1rem;
  color: #FFC107;
}

.date
{
  font-weight: bold;
}

.texte
{
  text-align: justify;
}

.puce
{
  width: 1rem;
  height: 1rem;
  /* width: 4vw;
  height: 4vw; */
  background-color: #BF0F3D;
  border-radius: 50%;
  display: inline-block;
}

.content {
  display: none;
}

.fiche li {
  color: black;
}
/* MAIN / FIN */

/* FOOTER */
#top
{
  padding: 2rem 0;
  font-weight: bold;
}

#top a
{
  color: #BF0F3D;
  text-decoration: none;
  padding: 1rem;
  border: 2px solid #BF0F3D;
  border-radius: 25px;
}
/* FOOTER / FIN*/
