/* GENERAL */
html, body
{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  position: relative;
}

img
{
  width: 100%;
  height: auto;
}

#layout
{
  display: flex;
  min-height: 100%;
}
/* GENERAL / FIN */

/* NAV */
nav
{
  background-color: #BF0F3D;
  max-width: 200px;
}

#logo
{
  width: 160px;
  height: 50px; /* for matching header height */
  margin: 12px 20px;
}

/* UL 1er niveau */
nav ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  color: #FFC107;
  font-weight: bold;
}

nav>ul>li
{
  color: #FFC107;
  border-top: 1px dashed #FFC107;
  overflow: hidden; /* Supprime le tremblement au hover */
}

nav>ul>li>a, .activeMenu
{
  display: inline-block;
  line-height: 50px;
  width: 100%;
  padding-left: 20px;
}

nav>ul>li:last-child
{
  border-bottom: 1px dashed #FFC107;
}

.menu-titre
{
  margin-top: 20px;
  margin-left: 20px;
}

/* UL 2nd niveau */
nav ul ul
{
  font-weight: normal;
}

nav ul ul li a, .activeSubMenu
{
  display: inline-block;
  line-height: 30px;
  width: 100%;
  padding-left: 40px;
}

nav a
{
  text-decoration: none;
  color: #FFC107;
}

/* Gestion Hover & class Active */
nav a:hover, nav ul ul a:hover, .activeMenu, .activeSubMenu
{
  color: #FFF;
  background-color: #603;
}

nav a:hover, .activeMenu {width: 180px;}

nav ul ul a:hover, .activeSubMenu {width: 160px;}

nav a:hover::before, .activeMenu::before, .activeSubMenu::before
{
content: "► ";
}
/* NAV / FIN */

/* HEADER */
#header-main
{
  width: 100%;
}

#header-bkg
{
  width: 100%;
  background-color: #CCC;
}

header, main
{
  width: 960px;
  margin: 0 20px;
}

header h1
{
  margin: 0;
  color: #BF0F3D;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* HEADER FIN*/

/* MAIN */
/* FORM */
form p
{
  color: #BF0F3D;
  font-weight: bold;
}

input, select, .list button, textarea
{
  border: 2px solid #BF0F3D;
  border-radius: 5px;
  padding: 5px;
  color: #BF0F3D;
}

form p select
{
  padding: 4px;
}

form td select
{
  padding: 7px;
}

form.single-line p input:last-child
{
  margin-left: 0.5rem;
}

form p input[type="submit"]
{
  background-color: #FFC107;
  color: #FFC107;
  background-color: #BF0F3D;
}

form p input[type="submit"]:hover, .list button:hover
{
  background-color: #FFC107;
  color: #BF0F3D;
  cursor: pointer;
}

form i[class*="fa-eye"]
{
  margin-left: -30px;
  cursor: pointer;
}

.wide input[type="text"], .wide textarea
{
  width: 250px;
}

.wide textarea
{
  height: 125px;
}

label
{
  display: block;
}

.warning
{
  font-weight: bold;
  color: red;
}

table#expo-emp
{
  background-color: #f0f0f0;
  padding: 1rem 2rem;
  border-radius: 5px;
}

table#expo-emp input[type="text"]
{
  width: 20rem;
}

table#expo-emp th
{
  color: #BF0F3D;
}

table#expo-emp td
{
  text-align: center;
  padding: 0.5rem;
}
/* FORM / Fin */

table.list-collab
{
  border-collapse: collapse;
}

table.list-collab , .list-collab th , .list-collab td
{
  text-align: center;
  padding: 0.6rem;
}

.list-collab tr:nth-child(even)
{
  background-color: #f0f0f0;
}

.list-collab th
{
  color: #BF0F3D;
}

.upload-submit
{
  padding: 0.5rem;
  margin: 0;
}

.upload-preview
{
  width: 450px;
  position: relative;
  margin: 1rem 0;
}

button[type="submit"]
{
  border-style: none;
  color: #BF0F3D;
  background-color: #FFC107;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 5px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

button[type="submit"]:hover
{
  border-style: none;
  color: #FFC107;
  background-color: #BF0F3D;
  cursor: pointer;
}

main h2, main h3
{
  color: #BF0F3D;
}

main h3
{
  font-style: italic;
}

ul.list, ul#prog
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list li
{
  margin-bottom: 1.5em;
}

.list li span
{
  display: inline-block;
  padding-top: 0.8rem;
}

.list li a
{
  margin-right: 0.5em;
}

#prog li
{
  border-bottom: 2px dashed #BF0F3D;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  font-weight: bold;
  position: relative;
}

#prog li img
{
  width: 150px;
  height: auto;
  display: block;
}
/* MAIN / FIN*/

/* FOOTER */
/* FOOTER / FIN*/
